[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/MicroOcpp"]
	path = lib/MicroOcpp
	url = https://github.com/matth-x/MicroOcpp
[submodule "lib/MicroOcppMongoose"]
	path = lib/MicroOcppMongoose
	url = https://github.com/matth-x/MicroOcppMongoose
[submodule "lib/mongoose"]
	path = lib/mongoose
	url = https://github.com/cesanta/mongoose
[submodule "webapp-src"]
	path = webapp-src
	url = https://github.com/agruenb/arduino-ocpp-dashboard.git
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
