[submodule "ArduinoJson"]
     path = lib/ArduinoJson
     url = https://github.com/bblanchon/ArduinoJson.git

[submodule "ArduinoOcpp"]
     path = lib/ArduinoOcpp
     url = https://github.com/matth-x/ArduinoOcpp.git
     branch = develop

[submodule "base64_arduino"]
     path = lib/base64_arduino
     url = https://github.com/Densaugeo/base64_arduino.git